<form class="action-form">
  <h2 class="action__header">Add Trade</h2>
  <mat-form-field class="example-full-width">
    <mat-label>Code</mat-label>
    <input #code matInput placeholder="Code" autocomplete="off" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input #name matInput placeholder="Name" autocomplete="off" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Owner</mat-label>
    <input #owner matInput placeholder="Owner" autocomplete="off" />
  </mat-form-field>
  <button
    trade__button
    mat-raised-button
    color="primary"
    class="trade__button"
    (click)="addNewTrade(code.value, name.value, owner.value)"
  >
    Add
  </button>
</form>
