<form class="update-form">
  <h2 class="update__header">Add Stock</h2>
  <mat-form-field class="padd__15">
    <mat-label>Ticker</mat-label>
    <input
      #ticker
      matInput
      placeholder="Ticker"
      autocomplete="off"
      [value]="
        stockToUpdate
          ? (stockToUpdate?.ticker | uppercase)
          : (ticker.value | uppercase)
      "
    />
  </mat-form-field>
  <mat-form-field class="padd__15">
    <mat-label>Cost</mat-label>
    <input
      #cost
      matInput
      placeholder="Cost"
      autocomplete="off"
      [value]="stockToUpdate?.cost"
    />
  </mat-form-field>
  <mat-form-field class="padd__15">
    <mat-label>Count</mat-label>
    <input
      #count
      matInput
      placeholder="Count"
      autocomplete="off"
      [value]="stockToUpdate?.count"
    />
  </mat-form-field>
  <mat-form-field class="padd__15">
    <mat-label>Adjust Rate</mat-label>
    <input
      #adjustRate
      matInput
      placeholder="Adjust Rate"
      autocomplete="off"
      [value]="stockToUpdate?.adjustRate || null"
    />
  </mat-form-field>
  <mat-form-field class="padd__15">
    <mat-label>Strike Rate</mat-label>
    <input
      #strikeRate
      matInput
      placeholder="Strike Rate"
      autocomplete="off"
      [value]="stockToUpdate?.strikeRate || null"
    />
  </mat-form-field>
  <mat-form-field class="padd__15">
    <mat-label>Sell Rate</mat-label>
    <input
      #sellRate
      matInput
      placeholder="Count"
      autocomplete="off"
      [value]="stockToUpdate?.sellRate || null"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="padd__15">
    <mat-label>Expires</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-radio-button value="true" class="padd__15">Long term</mat-radio-button>
  <button
    trade__button
    mat-raised-button
    color="primary"
    class="trade__button padd__15"
    (click)="
      updateStock(
        ticker.value,
        count.value,
        cost.value,
        adjustRate.value,
        strikeRate.value,
        sellRate.value
      );
      $event.preventDefault()
    "
  >
    {{ data?.action }}
  </button>
</form>
