:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 20px;
    .header {
      padding: 10px 0;
      h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
